/* your code here */
.content{
	background-color: black;
	height: 300px;
}

.top{
	padding: 25px;
	display: flex;
	justify-content:  space-between;
}

.logo-details{
	
	padding:2px;
	font-size: 25px;
}

.logo_name{
	color: white;
}

.media-icons{
	display: flex;
}

.media-icons img{
	width: 40px;
	
}
 li{
	 list-style-type: none;
	 color: gray;
 }

.link-boxes{
	color: white;
	display: flex;
	justify-content: 
}

.bottom-details{
	background-color: grey;
	color: white;
	
}
